* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-bottom: 250px;
  z-index: 2;
  margin-right: 10px;
  transition: margin-top 0.5s ease;
}

.logo.clicked {
  transition: 2s;
  margin-top: 600px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 1em;
  z-index: 2;
  padding: 47px;
  margin-bottom: 200px;
  /* border: 0.3px solid #ddcd9e71; */
  transition: opacity 0.5s ease;
}

.formContainer.visible {
  display: flex;
  opacity: 1;
}

label {
  font-size: 1em;
  color: rgba(206, 188, 137, 0.736);
  font-weight: 500;
}

#usernameInput {
  padding: 8px 20px;
}

#passwordInput {
  padding: 8px 20px;
}

.signIn {
  margin-top: 20px;
  padding: 8px 83px;
  border-radius: 8px;
  font-size: .9em;
  background-color: rgba(27, 26, 26, 0.721);
  color: #e6b36d;
  border: none;
  font-weight: 500;
}

.signUp {
    margin-top: 20px;
  padding: 8px 53px;
  border-radius: 8px;
  font-size: .9em;
  background-color: rgba(27, 26, 26, 0.721);
  color: #e6b36d;
  border: none;
  font-weight: 500;  
}

.signup:hover {
    transition: 0.7s ease;
  background-color: hsla(35, 71%, 66%, 0.737);
  color: aliceblue;
  cursor: pointer;
  font-weight: 500;
}

.signIn:hover {
  transition: 0.7s ease;
  background-color: hsla(35, 71%, 66%, 0.737);
  color: aliceblue;
  cursor: pointer;
  font-weight: 500;
}

.signIn:active {
  transition: 0.7s ease;
  background-color: hsla(35, 71%, 66%, 0.737);
  color: aliceblue;
  font-weight: 500;
}

.pCreateAccount {
    font-weight: 500;
    font-size: 0.7em;
    color: aliceblue;
    cursor: pointer;
}

.pCreateAccount:hover {
    text-decoration: underline;
}

.pLoginAccount {
    font-weight: 500;
    font-size: 0.7em;
    color: aliceblue;
    cursor: pointer;
}

.pLoginAccount:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 300px; 
    margin-bottom: 250px;
    margin-right: 20px;
  }

  label {
    font-size: 1.3em;
  }
  .bg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  background-image: url('/src/img/bgsmall.jpg'); /* Adjust the URL */
  background-size: cover;
  background-position: center;
}
#usernameInput {
    padding: 10px 40px;
}
#passwordInput {
    padding: 10px 40px;
}
.signIn {
    padding: 10px 105px;
    font-size: 1.0em;
}
.signUp {
    padding: 10px 65px;
    font-size: 0.9em;
}
  }
